@import "../../scss/index.scss";

.home {
  position: relative;
  align-content: center;

  .latestUpdateP {
    height: 89%;
    width: 100%;
    padding: 0 15px 0 15px;
  }
  .imageFloatP {
    display: flex;
    justify-content: flex-end;

    .imageLatestP {
      padding: 10px 10px 10px 0;
      width: 250px;
    }
  }
  .containerP {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: $color_principal;
    border-radius: 15px;
    height: 100px;
    margin-top: -110px;
    margin-bottom: 70px;

    .titleLatestP {
      display: flex;
      align-items: center;
      margin: 0 -100px 0 30px;

      font-size: 22px;
      font-weight: 100;
      color: $blanco;

      .user {
        font-size: 22px;
        margin-left: 10px;
        font-weight: 600;
      }
    }
  }
  .initSessionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .text {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 17px;
      font-weight: 400;
    }
    .text1 {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 17px;
      font-weight: 500;
    }
  }
  .img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .image {
      width: 250px;
    }
  }
}
