@import "../../scss/index.scss";

.listSession {
  height: 100%;
  padding: 10px;
  overflow-y: auto;

  .topTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: $gris_sessions;
      padding: 10px 50px 10px 5px;
      margin: 0px;
    }
    .icon {
      color: $color_principal;
      &:hover,
      &:active,
      &:focus {
        color: $color_hover;
        cursor: pointer;
      }
    }
  }

  .addSessionWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .addSession {
      display: flex;
      width: 100%;
      height: 75px;
      background-color: $gris-menus;
      border-radius: 15px;
      justify-content: space-between;

      .join {
        display: flex;
        align-items: center;
      }

      .ui.dateLabel {
        background-color: $gris-menus;
        color: $gris_sessions;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        height: 100%;
        padding: 10px;

        .date {
          margin-top: 8px;
          width: 160px;
          height: 50%;
          font-size: 14px;
        }
      }

      .ui.dateLabelTime {
        background-color: $gris-menus;
        color: $gris_sessions;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        height: 100%;
        padding: 10px;

        .time {
          margin-top: 8px;
          width: 130px;
          height: 50%;
          font-size: 14px;
        }
      }

      .ui.buttonInfo {
        background-color: $color_principal;
        color: $blanco;
        font-weight: 600;
        height: 100%;
        width: 100%;
        border-radius: 0 15px 15px 0;
        font-size: 13px;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
          background-color: $color_hover;
          color: $blanco;
          cursor: pointer;
        }
      }

      .divierInfo {
        width: 2px;
        height: 75px;
        background-color: $blanco;
        margin: 5px 5px;
      }
    }
  }
}
