$blanco: #fff;
$negro: #000;
$lila: #bd8ebf;
$gris-oscuro: #263238;
$gris-claro: #455a64;
$gris-menus: #f4f4f4;
$fondo-gris: #e0e0e0;
$fondo-gris2: #cdcdcd;

$titulo-gris: #939292;

$letra-gris-oscuro: #737475;
$letra-titulos: #686363;
$letra-gris-claro: #d9d9d8e7;

$color_principal: #bd8ebf;
$color_hover: #ab71ad;
$danger: #f00;
$rojo-google: #db4a39;

$nota: #fceec0;
$nota_seleccionada: #ffeaa4;
